@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

.button-container {
  display: flex;
}

.joke-button-container {
  flex-wrap: wrap;
  display: flex; 
}

#jokeButton {
  margin-right: 20px;
}
